# PDM local config
.pdm-python

# Django project
# Use .gitkeep pattern to for empty directories that Wagtail expects to exist.
/media/*
!/media/.gitkeep
/static/*
!/static/.gitkeep

# Ignore SQLite, if we're using it.
*.sqlite3

# Python and others
__pycache__
*.pyc
.DS_Store

# Virtual environment
.venv

# Environment variable files
.env
!.env.example

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/launch.json

# Docs
site/