# PDM local config
.pdm-python

# Django project
# Use .gitkeep pattern to for empty directories that Wagtail expects to exist.
/media/*
!/media/.gitkeep
/static/*
!/static/.gitkeep

# Ignore SQLite, if we're using it.
*.sqlite3

# Python and others
__pycache__
*.pyc
.DS_Store
/venv/

# Database
db/

# Environment files
.env
.db
