{% load i18n %}
<div class="help-block help-info">
    {% if related_pages %}
        <p>{% blocktrans count counter=related_pages|length %}{{ counter }} page uses this tag:{% plural %}{{ counter }} pages use this tag:{% endblocktrans %}</p>
        <ul>
            {% for page in related_pages %}
                <li>
                    <a href="{{ page.edit_url }}">{{ page.title }}</a>
                    {% if not page.live %}<span class="w-status w-status--primary">{% trans "draft" %}</span>{% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "No pages use this tag yet." %}</p>
    {% endif %}
</div>
